<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="jp.clockup.hatenatter" android:versionCode="2" android:versionName="0.8.1.0">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Hatenatter.Droid"></application>
</manifest>